@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #F2BC1B;
  --foreground: #F2622E;
  --primary: #F21D81;
  --secondary: #A904BF;
  --text: #360259;
}

.dark {
  --background: #360259;
  --foreground: #F2622E;
  --primary: #F21D81;
  --secondary: #A904BF;
  --text: #F2BC1B;
}

body {
  color: var(--text);
  background-color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url('/images/background.jpg'); */
  /* background-size: cover;
  background-position: center; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
